polkit.addRule(function(action, subject) {
    var allow = [
      "org.freedesktop.timedate1.set-time",
      "org.freedesktop.timedate1.set-timezone",
      "org.freedesktop.timedate1.set-ntp",
      "org.freedesktop.timedate1.set-local-rtc",
      "org.gnome.controlcenter.datetime.configure"
    ];
    if (allow.indexOf(action.id) >= 0 && subject.isInGroup("video")) {
        return polkit.Result.YES;
    }
});
